*,
::after,
::before {
    margin: 0;
    padding: 0;box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.form-container {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form-container__input {
    width: 50%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px 0;
}