/* ---START_General Style Setting--- */
*,
::after,
::before {
    margin: 0;
    padding: 0;box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* END_General Style Setting */
/* ---HEADER--- */
/* --- Menu + Logo --- */
.header-container {
    margin: 0; 
    width: 1920px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E5E5E5;
}
 .header-container img {
    margin-left: 360px;
 }

 .header-container nav {
    margin-right: 724px;
 }

.header-container ul {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    gap: 115px;
}

.header-container ul li {
    list-style: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;

}
/* --- MAIN --- */
/* --- Presintation header-main section --- */
.presintation-header-container {
    background-image: url(../img/urus-background-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 1920px;
    min-height: 705px;
    display: flex;
    align-items: center;
}

.presintation-header-container__sectiontitle  {
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 104px;
    margin-left: 360px;
    margin-right: 360px;
    margin-bottom: 154px;
}

.presintation-header-container__sectiontitle h1 {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 15px;
}

.presintation-header-container__sectiontitle p {
    font-size: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
}

.presintation-header-btn__showauto {
    width: 334px;
    height: 64px;
    border: none;
    background-color: #030305;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
/* --- Show-case Car section --- */
.show-case-container {
    margin: 0;
    width: 1920px;
    height: 1096px;
}

.show-case-container__cart-groupe {
    margin: 0;
    width: 1200px;
    height: 986px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-left: 360px;
    margin-right: 360px;
}

.show-case-container h1 {
    margin-left: 360px;
    font-size: 60px;
}


.show-case__to-book-cart {
    width: 384px;
    height: 473px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-case__to-book-cart p.show-case__titlecar {
    margin-top: 15px;
    font-weight: 700;
    font-size: 24px;
}

.show-case__show-param-cartgroup {
    margin-top: 17px;
    display: flex;
    flex-direction: row;
    gap: 45px;
}

.show-case__to-book-cart button.show-case__btn-to-book-cart {
    margin-top: 13px;
    background-color: #030305;
    height: 54px;
    width: 384px;
    color: #fff;
    font-weight: 700;
    border: none;
    font-size: 16px;
}

.show-case__param-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-case__param-block p.param_p-title {
    font-weight: bold;
    font-size: 16px;
}

/* --- Feedback & contact section --- */
.feedback-contact-container {
    margin: 0;
    width: 1920px;
    height: 596px;
    background-image: url(../img/rolls-fother.png);
    background-repeat: no-repeat;
    background-position: 761px 90px;
}


.feedback-cocntact-container__intputform {
    margin: 0;
    margin-left: 360px;
    display: flex;
    flex-direction: column;
}

.feedback-cocntact-container__intputform form.inputform-feedback__form-inputs {
    font-weight: 400;
    font-size:  16px;
    list-style: 160%;

}

.input-form__txt::placeholder {
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-left: 18px;
}
.feedback-cocntact-container__intputform p.inputform-feedback__p-description {
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 16px;   
    line-height: 130%;
    letter-spacing: 0%;
}

.inputform-feedback__form-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-form__txt {
    width: 334px;
    height: 64px;
}

.input-form__btn {
    background-color: #030305;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    width: 334px;
    height: 64px;
}

/* --- FOOTHER --- */
/* --- Jurist foother section --- */
.jurist-foother-container {
    width: 1920px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #E5E5E5;
}

.jurist-foother-container img {
    margin-left: 360px;
}

.jurist-foother-container p {
    margin-right: 360px;
}
/* ---\samples/--- */
/* .form-container {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form-container__input {
    width: 50%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px 0;
} 