/* ---General Style Setting--- */
*,
::after,
::before {
    margin: 0;
    padding: 0;box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* --- \show-case__cats/ --- */
.show-case__to-book-cart {
    width: 384px;
    height: 473px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-case__to-book-cart p.show-case__titlecar {
    font-weight: 700;
    font-size: 24px;
}

.show-case__to-book-cart button.show-case__btn-to-book-cart {
  background-color: #030305;
}
/* ---//////////\\\\\\\\\\\\ */
/* ---HEADER--- */
.header-container {
    max-width: 1920px;
    max-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container__logo {
    margin-right: 244px;
}

.header-container__navigation {
    align-items: baseline;
}

.header-container ul {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    gap: 115px;
}

.header-container ul li {
    list-style: none;
}
/* --- MAIN --- */
/* --- Presintation header-main section --- */
.presintation-header-container {
    background-image: url(../img/urus-background-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 1920px;
    min-height: 705px;
    display: flex;
    align-items: center;
}

.presintation-header-container__sectiontitle  {
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 104px;
    margin-left: 360px;
    margin-right: 360px;
    margin-bottom: 154px;
}

.presintation-header-container__sectiontitle h1 {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 15px;
}

.presintation-header-container__sectiontitle p {
    font-size: 16px;
    font-weight: lighter;
}

.presintation-header-btn__showauto {
    width: 334px;
    height: 64px;
    border: none;
    background-color: #030305;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
/* --- Show-case Car section --- */
.show-case-container {
    width: 1920px;
    height: 1096px;
}

.show-case-container h1 {
    font-size: 60px;
}

.show-case__cats {

}

/* ---\samples/--- */
/* .form-container {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form-container__input {
    width: 50%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px 0;
} 